@import url(https://db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);

:root {
  --white: #fff;
  --darkBg: #121817;
  --lightGreenBlue: #70efde;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Candara";
  background-color: var(--darkBg);
}

.search_box form{
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1rem;
}

.search_box input {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.search_box button {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  height: 100%;
  color: #333;
}

/* flex classes */

.flex_align_center {
  display: flex;
  align-items: center;
}

/* header */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 2dvh 12dvh;
  color: var(--white);
  transition: background-color 0.3s;
  z-index: 999;
}

.left_nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.right_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu_icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar .logo img,
.sub_navbar .logo img {
  height: 35px;
}

.nav_links {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
  list-style: none;
}

.nav_links li {
  margin: 0 15px;
}

.nav_links a {
  text-decoration: none;
  color: var(--white);
  position: relative;
  padding: 5px 0;
}

.nav_links a:hover {
  color: var(--lightGreenBlue);
}

.nav_links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--lightGreenBlue);
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav_links a:hover::after {
  width: 100%;
}

.buy_tickets {
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.buy_tickets img {
  height: 30px;
  margin-right: 12px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.buy_tickets:hover {
  color: var(--lightGreenBlue);
}

.buy_tickets:hover img {
  filter: grayscale(0);
}

.right_nav .user_profile {
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 4px 6px;
  transition: 0.3s;
}

.right_nav .user_profile:hover {
  color: var(--lightGreenBlue);
  border: 2px solid var(--lightGreenBlue);
}

/* banner */
.banner {
  width: 100%;
  height: 68vh;
  overflow: hidden;
  position: relative;
}

.banner .swiper-slide img {
  width: 100%;
  height: 74vh;
  object-fit: cover;
  object-position: center;
}

.banner .swiper-slide {
  display: flex;
  justify-content: center;
}

.banner .swiper-slide .banner_text {
  position: absolute;
  z-index: 5;
  color: var(--white);
  font-family: "Segoe UI";
  font-stretch: extra-expanded;
  left: 20vh;
  bottom: 12vh;
}

.banner .swiper-slide .banner_text h1 {
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 2.5rem;
}

.banner .swiper-slide .banner_text a {
  text-decoration: none;
  background-color: var(--white);
  color: var(--darkBg);
  padding: 0.6rem 1.8rem;
  border-radius: 35px;
  border: 2px solid var(--white);
  font-size: 1.2rem;
  margin-right: 1rem;
  font-weight: bold;
}

.banner .swiper-slide .banner_text a:hover {
  background-color: var(--lightGreenBlue);
  border: 2px solid var(--lightGreenBlue);
}

.banner .swiper-slide .banner_text .border_btn {
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
}

.banner .swiper-slide .banner_text .border_btn:hover {
  background: none;
  color: var(--lightGreenBlue);
  border: 2px solid var(--lightGreenBlue);
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: var(--white);
  opacity: 0.3;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--lightGreenBlue);
  opacity: 1;
}

/* movies */
.movies_slider .container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 4rem 0;
}

.upcoming_movie_slider .container{
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 4rem 0;
}

.blurry-bg,.blurry-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

.black_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(10px);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
}

.tranding-slider {
  width: 100%;
  padding: 2rem 0;
  position: relative;
  color: var(--white);
  text-align: center;
}

.tranding-slider h1{
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.movies_slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

.tranding-slide img {
  width: 100%;
  height: 35rem;
  border: 2rem 2rem 0 0;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.movie-info h2{
  margin-bottom: 0;
}

.movie-info p{
  margin-top: 4px;
}

.buy-tickets {
  display: inline-block;
  color: var(--darkBg);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  background-color: var(--white);
  cursor: pointer;
  text-decoration: none;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.buy-tickets span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--lightGreenBlue);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.buy-tickets:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.buy-tickets:hover span {
  transform: translateY(0) scale(2);
}

.buy-tickets span:nth-child(1) {
  --n: 1;
}

.buy-tickets span:nth-child(2) {
  --n: 2;
}

.buy-tickets span:nth-child(3) {
  --n: 3;
}

.buy-tickets span:nth-child(4) {
  --n: 4;
}

/* Links & Footer */
.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--white);
}

.column {
  width: 20%;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.column ul{
  list-style: none;
  padding: 0;
}

.column ul li{
  padding-bottom: 5px;
  cursor: pointer;
}

.column ul li:hover{
  color:var(--lightGreenBlue);
}

.column h2{
  font-size: 2rem;
}

.footer {
  background-color: var(--darkBg);
  color: var(--white);
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.logo {
  color: var(--lightGreenBlue);
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav_links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .buy_tickets {
    width: 100%;
    justify-content: center;
  }

  .menu_icon {
    display: block;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }

  .buy_tickets {
    padding: 8px 16px;
  }
}
